/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9fafb;
  margin: 0;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 2rem;
}
footer {
  background-color: #0f172a;
  color: white;
  text-align: center;
  padding: 1rem 0;
}